/* Variables and mixins declared here will be available in all other SCSS files */
@mixin emphasis {
  font-style: italic;
  border-radius: 3px;
  padding: 0 2px;
  font-family: var(--codeFont);
  font-weight: 700;
  font-size: 0.9rem;
}
@mixin jsEmphasis {
  color: var(--javascriptYellow);
  background: #333;
}

@mixin box {
  border: 1px solid;
  padding: var(--gap40);
  // padding-bottom: 0; /* ಠ_ಠ */
  border-radius: var(--radius10);
  margin-bottom: var(--gap60);
  > *:last-child {
    margin-bottom: 0;
  }
  &.info {
    border-color: var(--note500);
  }
  &.updated {
    border-color: orange;
  }
  &.recuerda {
    border-color: var(--announce500);
  }
  &.traduccion {
    border-width: 2px;
    border-color: var(--grey600);
  }
}
