/* Variables and mixins declared here will be available in all other SCSS files */
@mixin emphasis {
  font-style: italic;
  border-radius: 3px;
  padding: 0 2px;
  font-family: var(--codeFont);
  font-weight: 700;
  font-size: 0.9rem;
}
@mixin jsEmphasis {
  color: var(--javascriptYellow);
  background: #333;
}

@mixin box {
  border: 1px solid;
  padding: var(--gap40);
  // padding-bottom: 0; /* ಠ_ಠ */
  border-radius: var(--radius10);
  margin-bottom: var(--gap60);
  background-color: #fff;
  > *:last-child {
    margin-bottom: 0;
  }
  &.info {
    border-color: var(--note500);
  }
  &.updated {
    border-color: orange;
  }
  &.recuerda {
    border-color: var(--announce500);
  }
  &.traduccion {
    border-width: 1px;
    border-color: var(--grey600);
    border: none;
    position: relative;
    color: var(--grey600);
    margin-bottom: var(--gap70);
    p {
      z-index: 1;
      position: relative;
    }
    &::before {
      background: #fffb;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border: 1px solid var(--grey400);
  border-radius: var(--radius10);
  transform: none;
      transition: transform 0.5s;
    }
    &::after {
      background: #fffb;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border: 1px solid var(--grey400);
  border-radius: var(--radius10);
  transform: none;
      transition: transform 0.5s;
    }
    &:hover {
      &::before {
        transform: scaleX(1.02) rotate(2deg) translateX(8px);
        transition: transform 0.25s;
      }
      &::after {
        transform: scale(1.04) rotate(-1.5deg) translateY(-2px)
          translateX(-20px);
        transition: transform 0.25s;
      }
    }
  }
}
